.subsection{
	padding-top: 100px;
}

.portfolio-row{
	padding-top: 50px;
}

.btn-default{
	transition: all .3s ease-in-out;
}

.img-logo{
	height:40px;
	padding-right:20px;
}
.padding-bottom-30px{
	padding-bottom: 30px;
}

.text-transform-none{
	text-transform: none;
}

.a-white, .a-white:hover{
	color: #fff;
	text-decoration: underline;
}