body{
	background-color: #f1f1f1;
}

* {
  border-radius: 0 !important;
}

.navbar .navbar-brand, .navbar .navbar-nav li a {
    /*color: white;*/
}

.navbar-inverse .navbar-toggle{
	/*border-color:transparent;*/
}

.navbar .navbar-brand{
	color: #a94442; /*ALIZARIN*/
}

.navbar-form{
	/*margin-top: 15px;*/
	/*margin-bottom: 0px;*/
	/*border-top: 0px;
	border-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;*/
}

.thumbnail{
	padding:0px;
	background-color: #fff;
}

.thumbnail hr{
	margin-top: 1em;
	margin-bottom: 1em;
	max-width: 80%;
}

.container{
	max-width: 60em;
}

#main-top{
	/*background-color: #fff;
	min-height: 35em;
	margin-top: 3em;
	/*background: url("../img/backgrounds/iwc.jpg") rgba(0,0,0,0.5);*/
	/*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/backgrounds/iwc.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center fixed;*/*/
}

#main-content{
	padding-top:10em;
}

.item, .item{
	background-color: #fff;
	min-height: 38em;
	/*max-height: 60%;*/
	margin-top: 3em;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}

#item-1{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/backgrounds/iwc.jpg");
}

#item-2{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/backgrounds/panerai.jpg");
}

#item-3{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/backgrounds/audemars-piguet-2.jpg");
}

#item-4{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/backgrounds/patek-philippe.jpg");
}

#carousel-caption a{
	font-size: 2.25em;
}

.shop-button{
	display: inline-block;
	font-size: 1.875em;
	margin: 1em;
	padding: 0.4em;
	border: 0.1em solid white;
}

.shop-button a{
	color: #fff;
	text-decoration: none;
}

.shop-button:hover{
	text-decoration: none;
	background-color: #fff;
}

.shop-button:hover a{
	color: black;
}

.carousel-caption{
	/*position: relative;*/
	padding-bottom: 15em;
	right: 0%;
	left: 0%;
}